body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://res.cloudinary.com/leesheppard/image/upload/v1591440552/Stock%20photos/aryan-dhiman-iGLLtLINSkw-unsplash.jpg");
  background-size: cover;
}
